body {
    font-family: Verdana, sans-serif;
    color: #666666;
}

h1 {
    color: #666666;
    font-size: 3.5em;
}

.header {
    margin-top:25px;
}

h2 {
    font-size:25px;
    font-weight: bold;
    color: #F07C17;
}

.main-features h2 {
    padding-top: 10px;
    padding-left: 30px;
}

.main-features ul {
    padding-left: 70px;
    margin-top: 30px;
    line-height: 2.3;
}

.main-features ul li {
    letter-spacing: 1px;
}

.left-bar {
    margin-top: 20px;
}

.main-features {
    margin-top: 29px;
    border: solid 1px #CCCCCC;
    padding-bottom:29px;
}

.content {
    line-height:2;
    margin-top: 28px;
    font-size:16px;
}
